.footer-links{
    text-decoration: none;
    color: white;

}

.footer-links:hover{
    text-decoration: underline;
}

.other-links {
    display: flex;
    margin-left: auto;
    gap: 20px;

}




@media only screen and  (max-width:991px){
    .other-links{
        display: block;
        margin-left: 0;
    }
}