{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <h1 class="text-center mb-2">Home</h1>
  
  
  
  
  <div class="container">
    <div class="container d-flex mb-4">
      <label  for="question-selection">Select the question you want to record your answer for:</label>
      <select  class="form-select " name="question-selection" id="question-selection">
        <option value="1">Question1</option>
        <option value="2">Question2</option>
        <option value="3">Question3</option>
        <option value="5">Question5</option>
        <option value="6">Question6</option>
        <option value="7">Question7</option>
        <option value="8">Question8</option>
        <option value="9">Question9</option>
        <option value="10">Question10</option>
      
      
      </select>
    </div>
    
    
    
    <div class="mb-3">
      
      <button class="btn btn-primary" id="start-button" >Start recording</button>
      <button class="btn btn-primary" id="stop-button" >Stop recording</button>
      <div class="d-inline-block" id="recording-duration ">Recording time: <span id="minutes">00</span>:<span id="seconds">00</span></div>
      
    </div>
    

    <div class="accordion mb-4" id="accordionExample"  data-bs-theme="dark">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            How to use the recording functionality
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Select the qeustion you want to record your answer for then click the record button , when you are satisfied with your answer click the stop button</p>
            <p>If you want to redo your recording wait a few moments and click the record button once again</p>
            
          </div>
        </div>
      </div>
    </div>


    <h2 class="mb-4">Answer these questions by recording your answer:</h2>
    {% for question in question_list%}
    
    <div class="accordion mb-3" id="accordionExample{{loop.index}}"  data-bs-theme="dark">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
            Question {{loop.index}}
          </button>
        </h2>
        <div id="collapse{{loop.index}}" class="accordion-collapse collapse show" data-bs-parent="#accordionExample{{loop.index}}">
          <div class="accordion-body">
            {{question}}
            
          </div>
        </div>
      </div>
    </div>
    
    {% endfor%}
  </div>
  </div>

<script type="text/javascript">
   






      const uploadURL = "{{ url_for('audio_upload') }}";
      const startButton = document.getElementById("start-button");
      const stopButton = document.getElementById("stop-button");
      stopButton.disabled =true;
      const selectedQuestion = document.getElementById("question-selection");
      const appendMinutes = document.getElementById('minutes');
      const appendSeconds = document.getElementById('seconds');
      let seconds = 00;
      let minutes = 00;
      let Interval;

      startButton.addEventListener('click',function() {
        
          clearInterval(Interval);
          Interval = setInterval(startTimer, 1000);
        });
        
      stopButton.addEventListener('click',function(){
          clearInterval(Interval);
          seconds = "00";
          minutes = "00";
          appendSeconds.innerHTML = seconds;
          appendMinutes.innerHTML = minutes;
      });
    

   
    
    
    
        function startTimer () {
          seconds++; 
          
          if(seconds <= 9){
            appendSeconds.innerHTML = "0" + seconds;
          }
          
          if (seconds > 9){
            appendSeconds.innerHTML = seconds;
            
          } 
          
          if (seconds > 99) {
            console.log("minutes");
            minutes++;
            appendMinutes.innerHTML = "0" + minutes;
            minutes = 0;
            appendMinutes.innerHTML = "0" + 0;
          }
          
          if (minutes > 9){
            appendMinutes.innerHTML = minutes;
          }
        
        }
  
    
      startButton.addEventListener("click", function() {
        //make sure that mediaDevices is supported
        if (!navigator.mediaDevices) {
          console.error("getUserMedia not supported.")
          return;
        }

        const constraints = { audio: true };
        navigator.mediaDevices.getUserMedia(constraints)
        .then(function(stream) {
            let chunks = []
            let recorder = new MediaRecorder(stream);
            recorder.ondataavailable = event => {
                chunks.push(event.data);
                
              };
              
            recorder.start();
            stopButton.disabled =false;

            
            
            //when click the stop button we stop recording 
            
            stopButton.addEventListener("click",()=>{
              console.log("stop recording")
              recorder.stop();
            })
            
            
            
            //disable the record button when recording has started
            recorder.onstart = event => {
              console.log("Recording started.");
              startButton.disabled = true;
            };
            
            
            
            //when recording stops send the recorded audio to the server
            recorder.onstop = event => {
              console.log("Recording stopped.")
              let blob = new Blob(chunks, { type: recorder.mimeType }); 
              chunks = [];
              startButton.disabled = false;

              let formData = new FormData();
              formData.append('audio_file', blob);
              //get the number of the selected question the user want to record his answer to
              formData.append('question_number',selectedQuestion.value);
              formData.append('durationSeconds',seconds);

              fetch(uploadURL, {
                method: "POST",
                cache: "no-cache",
                body: formData
              }).then(resp => {
                if (resp.status === 200) {
                  window.location.reload(true);
                } else {
                  console.error("Error:", resp)
                }
              }).catch(err => {
                console.error(err);
              });
            };
        })
        
        
        .catch(function(err) {
            console.error(err);
        });
      });
    


    </script>
{% endblock %}