{% extends 'layout.html' %}

{% block content %}
<h1 class="text-center mb-2">Home</h1>
<h2 class="text-center">Welcome {{current_user.username}}</h2>



<p>Select the qeustion you want to record your answer for then click the record button , when you are satisfied with your answer click the stop button</p>
<p>If you want to redo your recording wait a few moments and click the record button once again</p>

<button class="start-button" >Start recording</button>
<button class="stop-button" >Stop recording</button>
<select name="question-selection" id="question-selection">
  <option value="1">Question1</option>
  <option value="2">Question2</option>
  <option value="3">Question3</option>
  <option value="5">Question5</option>
  <option value="6">Question6</option>
  <option value="7">Question7</option>
  <option value="8">Question8</option>
  <option value="9">Question9</option>
  <option value="10">Question10</option>

</select>

<p>Question1</p>
<p>Question1</p>
<p>Question1</p>
<p>Question1</p>
<p>Question1</p>
<p>Question1</p>
<p>Question1</p>
<p>Question1</p>
<p>Question1</p>

<script type="text/javascript">
   
      const uploadURL = "{{ url_for('audio_upload') }}";
      const startButton = document.querySelector(".start-button");
      const stopButton = document.querySelector(".stop-button");
      const userID = document.getElementById("user_id").value;
      const selectedQuestion = document.getElementById("question-selection");
      
      startButton.addEventListener("click", function() {
        //make sure that mediaDevices is supported
        if (!navigator.mediaDevices) {
          console.error("getUserMedia not supported.")
          return;
        }

        const constraints = { audio: true };
        navigator.mediaDevices.getUserMedia(constraints)
        .then(function(stream) {
            let chunks = []
            let recorder = new MediaRecorder(stream);
            recorder.ondataavailable = event => {
                chunks.push(event.data);
              };
              
            recorder.start();
            
            
            //when click the stop button we stop recording 
            
            stopButton.addEventListener("click",()=>{
              console.log("stop recording")
              recorder.stop();
            })
            
            
            
            //disable the record button when recording has started
            recorder.onstart = event => {
              console.log("Recording started.");
              startButton.disabled = true;
            };
            
            
            
            //when recording stops send the recorded audio to the server
            recorder.onstop = event => {
              console.log("Recording stopped.")
              let blob = new Blob(chunks, { type: recorder.mimeType }); 
              chunks = [];
              startButton.disabled = false;

              let formData = new FormData();
              formData.append('audio_file', blob);
              //get the number of the selected question the user want to record his answer to
              formData.append('question_number',selectedQuestion.value);

              fetch(uploadURL, {
                method: "POST",
                cache: "no-cache",
                body: formData
              }).then(resp => {
                if (resp.status === 200) {
                  window.location.reload(true);
                } else {
                  console.error("Error:", resp)
                }
              }).catch(err => {
                console.error(err);
              });
            };
        })
        
        
        .catch(function(err) {
            console.error(err);
        });
      });
    ;
    </script>
{% endblock %}