<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>      
        {% if title %} 
        {{title}} 
        {% else %} 
        Welcome to micro-blog 
        {% endif %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/howler@2.2.3/dist/howler.min.js"></script>

    <!--CSS FOR CHATBOT-->
    <link rel="stylesheet" href="{{ url_for('static', filename='chat-bot-style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static',filename='layout.css') }}">

    <!--Style block for the different css of the other pages-->
    {% block style %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar bg-dark mb-3" data-bs-theme="dark" >
        <div class="container-fluid p-3">
          <a class="navbar-brand" href="#">Audio Blog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav d-flex w-100">
              
                  {% if current_user.is_authenticated %}
                  <a class="nav-link active " aria-current="page" href="{{url_for('index')}}">Home</a>
                  <a class="nav-link active" aria-current="page" href="{{url_for('user_audios',user_id = current_user.id)}}">My Audios</a>
                  <a class="nav-link active " aria-current="page" href="{{url_for('search')}}">Listen</a>
                  <a class="nav-link active" href="{{url_for('logout')}}">Log out</a>
                  {% else %}
                  <a class="nav-link" href="{{url_for('login')}}">Sign in </a>
                  <a class="nav-link" href="{{url_for('register')}}">Register</a>
                  {% endif %}

                  
                  <div class="other-links">
                    <a class="nav-link active  " aria-current="page" href="{{url_for('pricing')}}">Pricing</a>
                    <a class="nav-link active " aria-current="page" href="{{url_for('faq')}}">FAQ</a>
                  </div>
              
             
            </div>
          </div>
        </div>
      </nav>

    <!--display the flashed messages from the flash function-->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        
        {% for category, message in messages %}
        <div  class="{{ category }} alert-dismissible fade show" role="alert">
          <div>{{ message }}</div>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        
      {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}
    <!--Section for the chat bot-->
    <div class="container">
      <div class="chatbox">
          <div class="chatbox__support">
              <div class="chatbox__header">
                  <div class="chatbox__image--header">
                      <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                  </div>
                  <div class="chatbox__content--header">
                      <h4 class="chatbox__heading--header">Chat support</h4>
                      <p class="chatbox__description--header">Hi. My name is Sam. How can I help you?</p>
                  </div>
              </div>
              <div class="chatbox__messages">
                  <div></div>
              </div>
              <div class="chatbox__footer">
                  <input type="text" placeholder="Write a message...">
                  <button class="chatbox__send--footer send__button">Send</button>
              </div>
          </div>
          <div class="chatbox__button">
              <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
          </div>
      </div>
  </div>


  <!--Footer section-->

     
  <footer class="bg-dark py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 class="text-light mb-3">Reviews</h4>
          <div id="reviews-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h6 class="text-light">John Doe</h6>
                <p class="text-light">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget ante sed lectus fringilla imperdiet non et magna."</p>
              </div>
              <div class="carousel-item">
                <h6 class="text-light">Jane Smith</h6>
                <p class="text-light">"Duis vel magna nec est porttitor congue. Nulla aliquam erat libero, vitae ultricies velit sagittis at."</p>
              </div>
              <!-- Add more carousel items here -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h4 class="text-light mb-3">Navigation</h4>
          <ul class="list-unstyled">
            {% if not current_user.is_authenticated %}
            <li class="mb-2"><a class="footer-links" href="{{url_for('register')}}">Register</a></li>
            <li class="mb-2"><a  class="footer-links" href="{{url_for('login')}}">Login</a></li>
            {% endif %}
            <li class="mb-2" ><a class="footer-links" href="#">About</a></li>
            <li class="mb-2"><a class="footer-links" href="{{url_for('pricing')}}">Pricing</a></li>
            <li class="mb-2"><a class="footer-links" href="{{url_for('faq')}}">FAQ</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4 class="text-light mb-3">Social Media</h4>
          <ul class="list-inline">
            <li class="mb-2"><a href="#"><img src="{{url_for('static',filename='images/icons8-facebook.svg')}}" alt="Facebook logo"></a></li>
            <li class="mb-2"><a href="#"><img src="{{url_for('static',filename='images/icons8-instagram.svg')}}" alt="Instagram logo"></a></li>
            <li class="mb-2"><a href="#"><img src="{{url_for('static',filename='images/icons8-twitter.svg')}}" alt="Twitter logo"></a></li>
            <!-- Add more social media links here -->
          </ul>
        </div>
      </div>
    </div>
  </footer>
  

      <script>
          $SCRIPT_ROOT = {{ request.script_root|tojson }};
      </script>
      <script type="text/javascript" src="{{ url_for('static', filename='chat-bot-index.js') }}"></script>
   
</body>

</html>



